/*In package "CSS"*/

.debugBox {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}